<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>PropDirect</title>

    <!-- Fonts Google -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="stylesheet" href="resources/css/style.css">
    
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  -->

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" defer></script>
  </head>
  <body class="dashboard">
    <header class="dashboard-header">
      <div class="container">
        <nav class="navbar navbar-expand-md justify-content-md-between">
          <div class="navbar-brand d-flex justify-content-center justify-content-md-start">
            <a href="/">
              <img src="resources/img/logo-mobile.svg" height="50" alt="Logo PropDirect">
            </a>
          </div>
          <div class="dropdown">
            <button class="dropdown-btn">Hi Vendeur</button>
            <div class="dropdown-content">
              <a href="/profile">Profile</a>
              <a href="/logout">Deconnexion</a>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <main>
      <div class="container">
        <div class="row no-gutters">
            <div class="col-12 col-md-2">
                <div class="dashboard-manage">
                    <p>Proprietes</p>
                </div>
            </div>
            <div class="col-12 col-md-10 right">
                <div class="dashboard-tab">
                    <div class="dashboard-area">
                        <h3>Details proprietes</h3>
                        <table class="table">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col">Proprietes</th>
                                <th scope="col">Chambres</th>
                                <th scope="col">Salle de bain</th>
                                <th scope="col">Prix</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">Maison - 460 -LaSalle</th>
                                <td>5</td>
                                <td>2</td>
                                <td>460 000$</td>
                                <td class="icon">
                                  <a href="/dashboard-seller/property/{{ item._id }}/edit" class="icon-edit">
                                      <img src="resources/img/sprites_material/edit.png" alt="edit">
                                  </a>
                                  <form action="/dashboard-seller/delete/property/{{ item._id }}" method="POST">
                                      <button type="submit" class="icon-delete">
                                          <img src="resources/img/sprites_material/delete.png" alt="delete">
                                      </button>
                                  </form>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">Maison - 460 -LaSalle</th>
                                <td>5</td>
                                <td>2</td>
                                <td>460 000$</td>
                                <td class="icon">
                                    <span class="icon-edit">
                                        <img src="resources/img/sprites_material/edit.png" alt="edit">
                                    </span>
                                    <span class="icon-delete">
                                        <img src="resources/img/sprites_material/delete.png" alt="delete">
                                    </span>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">Maison - 460 -LaSalle</th>
                                <td>5</td>
                                <td>2</td>
                                <td>460 000$</td>
                                <td class="icon">
                                    <span class="icon-edit">
                                        <img src="resources/img/sprites_material/edit.png" alt="edit">
                                    </span>
                                    <span class="icon-delete">
                                        <img src="resources/img/sprites_material/delete.png" alt="delete">
                                    </span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                    <div class="dashboard-profile">
                        <h3>Profile</h3>
                        <form>
                            <label for="phone">Telephone:</label><br>
                            <input type="text" id="phone" name="phone" placeholder="514-123-4567">
                        </form>
                        <button class="dashboard-profile-btn btn-primary" type="submit">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </main>

</body>
</html>