<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>PropDirect</title>

    <!-- Fonts Google -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="stylesheet" href="resources/css/style.css">
    
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  -->

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" defer></script>
  </head>
  <body>
    <header class="page-header">
      <div class="container">
        <nav class="navbar navbar-expand-md">
          <div class="navbar-brand d-flex justify-content-center justify-content-md-start">
            <h1>

            </h1>
            <a href="#">
              <img src="resources/img/logo-mobile.svg" height="50" alt="Logo PropDirect">
            </a>
          </div>
  
          <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div class="ml-auto">
              <ul class="navbar-nav d-flex align-items-md-center">
                <li class="nav-item account">
                  <a href="inscription.html">Creer un compte</a>
                </li>
                <li class="nav-item dashboard">
                  <a href="authentification.html">Mon espace</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div><!-- /end container -->
    </header><!-- /end header -->

    
     <main>
        <!-- Search-list -->
        <div class="searchlist">
          <div class="container">

            <nav class="navbar- navbar-expand-lg">
              <button class="search_collapse w-100" type="button" data-toggle="collapse" data-target="#collapsibleSearch">Filtrer
              </button>
              <div class="collapse navbar-collapse" id="collapsibleSearch">
            <form action="/action_page.php">  
              
                <div class="searchlist-body row">
                  <!-- City -->
                  <div class="searchlist-city col-12 col-lg-2">
                    <div class="nav-item input-city">
                      <input type="text" placeholder="Recherche par ville..."
                        aria-label="Recherche par ville">
                    </div>
                  </div>
  
                  <!-- Range -->
                  <div class="nav-item searchlist-range search-range- col-12 col-lg-3">
                    <div id="nonlinear" class="noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr mb-2 search-price"></div>
                    <div>
                        <input type="hidden" name="min_price" id="lower-input" value="">
                        <input type="hidden" name="max_price" id="upper-input" value="">
                        <div class="nonlinear-values d-flex justify-content-between">
                            <span class="example-val" id="lower-value">500.00$</span>
                            <span class="example-val" id="upper-value">7000.00$</span>
                        </div>
                    </div>
                </div>

                <!-- Type -->
                <div class="nav-item searchlist-type col-12 col-lg-2">
                    <div>
                        <select class="custom-select" name="type" id="form-type">
                            <option disabled selected>Types...</option>
                            {% for type in types %}
                                <option value="{{ type._id }}" {% if selectedType == type._id %} selected {% endif %}>{{ type.title }}</option>
                            {% endfor %}
                            <option value="">Sans type</option>
                        </select>
                    </div>
                </div>
  
                <!-- Chambers -->
                <div class="nav-item searchlist-type col-12 col-lg-2">
                    <div>
                      <select id="select-chambers">
                          <option>Chambres</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                    </div>
                  </div>
  
                <!-- Bathrooms -->
                <div class="nav-item searchlist-type col-12 col-lg-2">
                    <div>
                      <select id="select-bathrooms">
                          <option>Salle de bain</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                        </select>
                    </div>
                  </div>
  
                  <!-- Button -->
                  <div class="nav-item searchlist-btn col-12 col-lg-1">
                    <div>
                      <button class="btn-sm-secondary w-100" type="submit"></button>
                    </div>
                  </div>
                  
                </div><!-- /end body -->
            </form>
          </div>
          </nav>
          </div>
          <!-- /end searchlist -->
        </div>

      <!-- List card
      --------------------------------------------->
      <div class="list-properties">
        <div class="container-fluid">
          <div class="row">

            <div class="col-12 col-lg-7">
                
              <!-- List card -->
              <div class="list-card">
                
                <!-- Item card -->
                <div class="card">
                  <div class="card-header">
                    <div class="card-img">
                      <img src="resources/img/prop1.jpg" alt="property1">
                    </div>
                  </div>

                  <div class="card-body">
                    <p class="card-category">Maison unifamiliale</p>
                    <h4 class="card-title">Maison - 420 -Av. Lasalle</h4>
                    <p class="card-subtitle">Montreal (LaSalle)</p>

                    <div class="card-spec d-flex">
                      <div class="card-chamber card-item d-flex">
                        <span class="card-name">Chambres</span>
                        <span class="card-number">4</span>
                      </div>
                      <div class="card-bathrooms card-item d-flex">
                        <span class="card-name">Salles de bain</span>
                        <span class="card-number">2</span>
                      </div>
                      <div class="card-squarefeet card-item d-flex">
                        <span class="card-name">Pieds carres</span>
                        <span class="card-number">3645</span>
                      </div>
                    </div><!-- /end spec -->
                    <p class="card-sell">A vendre</p>

                    <div class="card-details">
                      <h3 class="card-price">460 000 $</h3>
                      <a class="btn-sm-secondary" href="detail.html">Voir la fiche</a>
                    </div>
                  </div>
                </div><!-- /end card -->
                
                <!-- Item card -->
                <div class="card">
                  <div class="card-header">
                    <div class="card-img">
                      <img src="resources/img/prop1.jpg" alt="property1">
                    </div>
                  </div>

                  <div class="card-body">
                    <p class="card-category">Maison unifamiliale</p>
                    <h4 class="card-title">Maison - 420 -Av. Lasalle</h4>
                    <p class="card-subtitle">Montreal (LaSalle)</p>

                    <div class="card-spec d-flex">
                      <div class="card-chamber card-item d-flex">
                        <span class="card-name">Chambres</span>
                        <span class="card-number">4</span>
                      </div>
                      <div class="card-bathrooms card-item d-flex">
                        <span class="card-name">Salles de bain</span>
                        <span class="card-number">2</span>
                      </div>
                      <div class="card-squarefeet card-item d-flex">
                        <span class="card-name">Pieds carres</span>
                        <span class="card-number">3645</span>
                      </div>
                    </div><!-- /end spec -->
                    <p class="card-sell">A vendre</p>

                    <div class="card-details">
                      <h3 class="card-price">460 000 $</h3>
                      <a class="btn-secondary" href="detail.html">Voir la fiche</a>
                    </div>
                  </div>
                </div><!-- /end card -->
                
                <!-- Item card -->
                <div class="card">
                  <div class="card-header">
                    <div class="card-img">
                      <img src="resources/img/prop1.jpg" alt="property1">
                    </div>
                  </div>

                  <div class="card-body">
                    <p class="card-category">Maison unifamiliale</p>
                    <h4 class="card-title">Maison - 420 -Av. Lasalle</h4>
                    <p class="card-subtitle">Montreal (LaSalle)</p>

                    <div class="card-spec d-flex">
                      <div class="card-chamber card-item d-flex">
                        <span class="card-name">Chambres</span>
                        <span class="card-number">4</span>
                      </div>
                      <div class="card-bathrooms card-item d-flex">
                        <span class="card-name">Salles de bain</span>
                        <span class="card-number">2</span>
                      </div>
                      <div class="card-squarefeet card-item d-flex">
                        <span class="card-name">Pieds carres</span>
                        <span class="card-number">3645</span>
                      </div>
                    </div><!-- /end spec -->
                    <p class="card-sell">A vendre</p>

                    <div class="card-details">
                      <h3 class="card-price">460 000 $</h3>
                      <a class="btn-secondary" href="detail.html">Voir la fiche</a>
                    </div>
                  </div>
                </div><!-- /end card -->
                
                <!-- Item card -->
                <div class="card">
                  <div class="card-header">
                    <div class="card-img">
                      <img src="resources/img/prop1.jpg" alt="property1">
                    </div>
                  </div>

                  <div class="card-body">
                    <p class="card-category">Maison unifamiliale</p>
                    <h4 class="card-title">Maison - 420 -Av. Lasalle</h4>
                    <p class="card-subtitle">Montreal (LaSalle)</p>

                    <div class="card-spec d-flex">
                      <div class="card-chamber card-item d-flex">
                        <span class="card-name">Chambres</span>
                        <span class="card-number">4</span>
                      </div>
                      <div class="card-bathrooms card-item d-flex">
                        <span class="card-name">Salles de bain</span>
                        <span class="card-number">2</span>
                      </div>
                      <div class="card-squarefeet card-item d-flex">
                        <span class="card-name">Pieds carres</span>
                        <span class="card-number">3645</span>
                      </div>
                    </div><!-- /end spec -->
                    <p class="card-sell">A vendre</p>

                    <div class="card-details">
                      <h3 class="card-price">460 000 $</h3>
                      <a class="btn-secondary" href="detail.html">Voir la fiche</a>
                    </div>
                  </div>
                </div><!-- /end card -->
                
                <!-- Item card -->
                <div class="card">
                  <div class="card-header">
                    <div class="card-img">
                      <img src="resources/img/prop1.jpg" alt="property1">
                    </div>
                  </div>

                  <div class="card-body">
                    <p class="card-category">Maison unifamiliale</p>
                    <h4 class="card-title">Maison - 420 -Av. Lasalle</h4>
                    <p class="card-subtitle">Montreal (LaSalle)</p>

                    <div class="card-spec d-flex">
                      <div class="card-chamber card-item d-flex">
                        <span class="card-name">Chambres</span>
                        <span class="card-number">4</span>
                      </div>
                      <div class="card-bathrooms card-item d-flex">
                        <span class="card-name">Salles de bain</span>
                        <span class="card-number">2</span>
                      </div>
                      <div class="card-squarefeet card-item d-flex">
                        <span class="card-name">Pieds carres</span>
                        <span class="card-number">3645</span>
                      </div>
                    </div><!-- /end spec -->
                    <p class="card-sell">A vendre</p>

                    <div class="card-details">
                      <h3 class="card-price">460 000 $</h3>
                      <a class="btn-secondary" href="detail.html">Voir la fiche</a>
                    </div>
                  </div>
                </div><!-- /end card -->
                
              </div><!-- /end list-card -->
              

              <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Precedent</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Suivant</a></li>
                </ul>
              </nav>
            </div>

            <div class="d-none d-lg-block col-lg-5">
              <div class="list-map">
              </div><!-- /end map -->
            </div>
          </div>
            
        </div>
      </div><!-- /end list -->

    </main>


  <!-- Footer -->
  <footer class="page-footer">
      <div class="container">
        <!-- Info -->
        <div class="footer-info">
          <div class="row">
            <div class="col-md-3 mx-auto">
              <!-- Links -->
              <h4 class="page-footer-title">Vendre une propriete</h4>
              <ul class="list-unstyled">
                <li><a href="#">Comment ca fonctionne?</a></li>
                <li><a href="#">Combien ca coute?</a></li>
                <li><a href="#">Combien pourriez-vous economiser?</a></li>
                <li><a href="#">Options de paiement</a></li>
              </ul>
            </div>
    
            <div class="col-md-3 mx-auto">
              <!-- Links -->
              <h4 class="page-footer-title">Acheter une propriete</h4>
    
              <ul class="list-unstyled">
                  <li><a href="#">Acheter une propriete</a></li>
                  <li><a href="#">Pourquoi acheter avec nous</a></li>
                  <li><a href="#">Comment ca fonctionne?</a></li>
                  <li><a href="#">Outils pour chercher une propriete</a></li>
                </ul>
            </div>
    
            <div class="col-md-3 mx-auto">
              <!-- Links -->
              <h4 class="page-footer-title">Nous joindre</h4>
    
              <ul class="list-unstyled">
                <li><span>Tel: 514 777 8888</span></li>
                <li><span>33 rue Prince,</span></li>
                <li><span>Montreal, QC, H3G 2M5</span></li>
              </ul>
            </div>
    
            <div class="col-md-3 mx-auto">
              <!-- Links -->
              <h4 class="page-footer-title">Reseaux sociaux</h4>
    
              <ul class="list-unstyled">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Youtube</a></li>
              </ul>
            </div>
          </div><!-- /row -->
        </div><!-- /end footer info -->
        
        <!-- Copyright -->
        <div class="footer-copyright text-center">
            <p> © 2020 PropDirect Tous droits reserves.</p>
            <p> Developpe par Artiom Sinigur et Bastien Potereau</p>
        </div>
      </div><!-- / end container -->
  </footer>
  <!--end Footer -->

  </body>
</html>