<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>PropDirect</title>

    <!-- Fonts Google -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js" defer></script>
    
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" defer></script>

  </head>
  <body class="dashboard">
    <header class="dashboard-header">
      <div class="container">
        <nav class="navbar navbar-expand-md justify-content-md-between">
          <div class="navbar-brand d-flex justify-content-center justify-content-md-start">
            <a href="/">
              <img src="/img/logo-mobile.svg" height="50" alt="Logo PropDirect">
            </a>
          </div>
          <div class="dropdown">
            {% if role === 'Seller' %}
              <button class="dropdown-btn">Hi {{ firstName }}</button>
              <div class="dropdown-content">
                <a href="/profile">Profile</a>
                <a href="/logout">Deconnexion</a>
              </div>
            {% elseif role === 'Customer' %}
              <button class="dropdown-btn">Hi {{ firstName }}</button>
              <div class="dropdown-content">
                <a href="/profile">Profile</a>
                <a href="/logout">Deconnexion</a>
              </div>
            {% elseif role === 'Admin' %}
              <button class="dropdown-btn">Hi Admin</button>
              <div class="dropdown-content">
                <a href="/profile">Profile</a>
                <a href="/logout">Deconnexion</a>
              </div>
            {% endif %}
          </div>
        </nav>
      </div>
    </header>

    <main>
        {% block main %}
            <p>Pas de contenu</p>
        {% endblock %}
    </main>
    
  </body>
</html>