    <!-- Item card -->
    <div class="card">
        <div class="card-header">
        <div class="card-img">
            <img src="/img/prop1.jpg" alt="property1">
        </div>
        </div>

        <div class="card-body">
        <p class="card-category">{{ field.type.title }}</p>
        <a href="/properties/property/{{ field._id }}">
            <h4 class="card-title">{{ field.title }}</h4>
        </a> 
        <p class="card-subtitle">Montreal</p>

        <div class="card-spec d-flex">
            <div class="card-chamber card-item d-flex">
            <span class="card-name">Chambres</span>
            <span class="card-number">{{ field.bedroom }}</span>
            </div>
            <div class="card-bathrooms card-item d-flex">
            <span class="card-name">Salles de bain</span>
            <span class="card-number">{{ field.bathroom }}</span>
            </div>
            <div class="card-squarefeet card-item d-flex">
            <span class="card-name">Pieds carres</span>
            <span class="card-number">3645</span>
            </div>
        </div><!-- /end spec -->
        <p class="card-sell">A vendre</p>

        <div class="card-details">
            <h3 class="card-price">${{ field.price }}</h3>
            <a href="/properties/property/{{ field._id }}" class="btn-sm-secondary">Voir la fiche</a>
        </div>
        </div>
    </div><!-- /end card -->