 <!-- Footer -->
 <footer class="page-footer">
  <div class="container">
    <!-- Info -->
    <div class="footer-info">
      <div class="row">
        <div class="col-md-3 mx-auto">
          <!-- Links -->
          <h4 class="page-footer-title">Vendre une propriete</h4>
          <ul class="list-unstyled">
            <li><a href="#">Comment ca fonctionne?</a></li>
            <li><a href="#">Combien ca coute?</a></li>
            <li><a href="#">Combien pourriez-vous economiser?</a></li>
            <li><a href="#">Options de paiement</a></li>
          </ul>
        </div>

        <div class="col-md-3 mx-auto">
          <!-- Links -->
          <h4 class="page-footer-title">Acheter une propriete</h4>

          <ul class="list-unstyled">
              <li><a href="#">Acheter une propriete</a></li>
              <li><a href="#">Pourquoi acheter avec nous</a></li>
              <li><a href="#">Comment ca fonctionne?</a></li>
              <li><a href="#">Outils pour chercher une propriete</a></li>
            </ul>
        </div>

        <div class="col-md-3 mx-auto">
          <!-- Links -->
          <h4 class="page-footer-title">Nous joindre</h4>

          <ul class="list-unstyled">
            <li><span>Tel: 514 777 8888</span></li>
            <li><span>33 rue Prince,</span></li>
            <li><span>Montreal, QC, H3G 2M5</span></li>
          </ul>
        </div>

        <div class="col-md-3 mx-auto">
          <!-- Links -->
          <h4 class="page-footer-title">Reseaux sociaux</h4>

          <ul class="list-unstyled">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Youtube</a></li>
          </ul>
        </div>
      </div><!-- /row -->
    </div><!-- /end footer info -->
    
    <!-- Copyright -->
    <div class="footer-copyright text-center">
        <p> © 2020 PropDirect Tous droits reserves.</p>
        <p> Developpe par Artiom Sinigur et Bastien Potereau</p>
    </div>
  </div><!-- / end container -->
</footer><!--end Footer -->