<header class="page-header">
  <div class="container">
    <nav class="navbar navbar-expand-md">
      <div class="navbar-brand d-flex justify-content-center justify-content-md-start">
        <a href="/">
          <img src="/img/logo-mobile.svg" height="50" alt="Logo PropDirect">
        </a>
      </div>

      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <div class="ml-auto">
          
          {% if not role %}
            <!-- Login -->
            <ul class="navbar-nav d-flex align-items-md-center" id="login">
              <li class="nav-item account">
                <!-- <a href="" class="btn-primary" data-toggle="modal" data-target="#signInModal">Creer un compte</a> -->
                <a href="/register" class="btn-primary">Creer un compte</a>
              </li>
              <li class="nav-item dashboard">
                <!-- <a href="" class="btn-secondary" data-toggle="modal" data-target="#loginModal">Se connecter</a> -->
                <a href="/login" class="btn-secondary">Se connecter</a>
              </li>
            </ul> 
          {% elseif role === 'Seller' %}
            <!-- Logged for seller-->
            <ul class="navbar-nav d-flex align-items-md-center" id="sellerLogged">
              <li class="nav-item add-property">
                <a href="/properties/create" class="btn-primary">Ajouter un propriété</a>
              </li>

              <li class="dropdown dashboard">
                <button class="btn-secondary dropdown-toggle" type="button" id="zoneDashboard" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Mon espace
                </button>
                <div class="dropdown-menu" aria-labelledby="zoneDashboard">
                  <a class="dropdown-item" href="/dashboard-seller">Table de bord</a>
                  <a class="dropdown-item" href="/logout">Logout</a>
                  <a class="dropdown-item" href="/logoutAll">Logout from all devices</a>
                </div>
              </li>
            </ul>
          {% elseif role === 'Customer' %}
            <!-- Logged for customer-->
            <ul class="navbar-nav d-flex align-items-md-center" id="customerLogged">
              <li class="dropdown dashboard">
                <button class="btn-secondary dropdown-toggle" type="button" id="zoneDashboard" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Mon espace
                </button>
                <div class="dropdown-menu" aria-labelledby="zoneDashboard">
                  <a class="dropdown-item" href="/dashboard-customer">Table de bord</a>
                  <a class="dropdown-item" href="/logout">Logout</a>
                  <a class="dropdown-item" href="/logoutAll">Logout from all devices</a>
                </div>
              </li>
            </ul>
          {% endif %}
        </div>
      </div>
    </nav>
  </div><!-- /end container -->
</header><!-- /end header -->