{% extends 'layouts/app.html' %}

  {% block main %}
    <!-- Modal store property-->
    <div class="modal- fade-" id="updateProperty" tabindex="-1" role="dialog" aria-labelledby="updatePropertyModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 550px">
        <div class="modal-content">
          <div class="modal-header">

            <div class="modal-header-inner">
              <h2 class="insc-title" id="updatePropertyModalLabel">Mettre à jour une propriété</h2>
            </div>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% include "../parts/messages.html" %}

            <form action="/dashboard-seller/property/update" method="POST" id="formStoreProperty">
              <input type="hidden" name="id" class="form-control" value="{{ id }}">
              <div class="form-group">
                <label for="form-title">Titre*</label>
                <input type="text" name="title" class="form-control" value="{{ title }}" id="form-title" placeholder="Title">
              </div>

              <div class="row">
                <div class="form-group col-12 col-md-4">
                  <label for="form-price">Le prix*</label>
                  <input type="number" name="price" class="form-control" value="{{ price }}" id="form-price" placeholder="Le prix">
                </div>
                <div class="form-group mb-4 col-12 col-md-8">
                  <label for="form-type">Types de propriétés*</label>
                  <select class="custom-select" name="type" id="form-type">
                    <option disabled selected>Types...</option>
                    {% for type in types %}
                      <option
                        value="{{ type._id }}" {% if selectedType == type._id %} selected {% endif %}>{{ type.title }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="form-group mb-4 col-6 col-md-3">
                  <label for="form-bedroom">Chambres</label>
                  <select class="custom-select" name="bedroom" id="form-bedroom">
                    <option value="1" {% if bedroom === '1' %} selected {% endif %}>1</option>
                    <option value="2" {% if bedroom === '2' %} selected {% endif %}>2</option>
                    <option value="3" {% if bedroom === '3' %} selected {% endif %}>3</option>
                    <option value="4" {% if bedroom === '4' %} selected {% endif %}>4</option>
                    <option value="5" {% if bedroom === '5' %} selected {% endif %}>5+</option>
                  </select>
                </div>
                <div class="form-group mb-4 col-6 col-md-3">
                  <label for="form-bathroom">Salles de bain</label>
                  <select class="custom-select" name="bathroom" id="form-bathroom">
                    <option value="1" {% if bathroom === '1' %} selected {% endif %}>1</option>
                    <option value="2" {% if bathroom === '2' %} selected {% endif %}>2</option>
                    <option value="3" {% if bathroom === '3' %} selected {% endif %}>3</option>
                    <option value="4" {% if bathroom === '4' %} selected {% endif %}>4</option>
                    <option value="5" {% if bathroom === '5' %} selected {% endif %}>5+</option>
                  </select>
                </div>
                <div class="form-group col-12 col-md-6">
                  <label for="form-yearConstruction">Année de construction</label>
                  <input type="number" name="yearConstruction" value="{{ yearConstruction }}" class="form-control" id="form-yearConstruction" placeholder="Anneé de construction">
                </div>
              </div>

              <div class="row">
                <div class="form-group col-4 col-md-3">
                  <label for="form-number">Numéro</label>
                  <input type="number" name="number" value="{{ number }}" class="form-control" id="form-number" placeholder="Numéro">
                </div>
                <div class="form-group col-8 col-md-6">
                  <label for="form-street">Rue</label>
                  <input type="text" name="street" value="{{ street }}" class="form-control" id="form-street" placeholder="Rue">
                </div>
                <div class="form-group col-12 col-md-3">
                  <label for="form-postalCode">Code postal</label>
                  <input type="text" name="postalCode" value="{{ postalCode }}" class="form-control" id="form-postalCode" placeholder="Code postal">
                </div>
              </div>

              <div class="form-group">
                <label for="form-desc">Description</label>
                <textarea name="description" id="form-desc" rows="3">{{ description }}</textarea>
              </div>
              
              <div class="modal-footer mt-4">
                <button class="btn-primary w-100" type="submit">Mettre à jour</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endblock main %}