{% extends 'layouts/app.html' %}

    {% block main %}
      {% include "parts/messages.html" %}

      <!-- Section Hero 
      --------------------------------------------->
      <div class="hero">
        <div class="hero-img"></div>

        <!-- Section Search Toolbar
        --------------------------------------------->
        <div class="search">
          <form action="/properties/search/list" method="GET">
            <div class="search-inner align-items-center">
              <!-- Header -->
              <div class="search-header col-12 col-md-2">
                <h4>À vendre</h4>
              </div>
            
              <div class="search-body row no-gutters align-items-center">
                <!-- City -->
                <div class="search-city col-12 col-md-6">
                  <div class="input-city">
                    <input type="text" name="title" placeholder="Recherche par ville..."
                      aria-label="Recherche par ville">
                  </div>
                </div>

                <!-- Type -->
                <div class="search-type col-12 col-md-3">
                  <div>
                    <select class="custom-select" name="type" id="form-type">
                      <option disabled selected>Types...</option>
                      {% for type in types %}
                        <option
                          value="{{ type._id }}" {% if selectedType == type._id %} selected {% endif %}>{{ type.title }}</option>
                      {% endfor %}
                      <option value="">Sans type</option>
                    </select>
                  </div>
                </div>

                <!-- Button -->
                <div class="search-btn col-12 col-md-3">
                  <div>
                    <button class="btn-primary w-100" type="submit">Rechercher</button>
                  </div>
                </div>

                <!-- Range -->
                <div class="search-range col-12 col-md-12">
                  <div id="nonlinear" class="noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr mb-2"></div>
                  <div>
                    <input type="hidden" name="min_price" id="lower-input" value="">
                    <input type="hidden" name="max_price" id="upper-input" value="">
                    <div class="nonlinear-values d-flex justify-content-between">
                      <span class="example-val" id="lower-value">500.00$</span>
                      <span class="example-val" id="upper-value">7000.00$</span>
                    </div>
                  </div>
                </div>
                
              </div><!-- /end body -->
            </div>
          </form>
        </div><!-- /end search -->
        
      </div><!-- /end hero -->

      <!-- Section Why Us
      --------------------------------------------->
      <section class="whyus">
        <div class="container">
          <h2 class="whyus-title">Pourquoi les clients nous choisissent ?</h2>
          
          <div class="row">
            <div class="col-12 col-md-4">
              <!-- whyus-body -->
              <div class="whyus-body">
                <div class="whyus-img"></div>
                <h3 class="whyus-subtitle whyus-first">Le numero 1 de l'immobilier entre particuliers</h3>
                <p class="whyus-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
              </div><!-- /end whyus-body -->
            </div>
            <div class="col-12 col-md-4">
              <!-- whyus-body -->
              <div class="whyus-body">
                <div class="whyus-img"></div>
                <h3 class="whyus-subtitle whyus-agreement">Plus de 3000 accords conclu avec nous</h3>
                <p class="whyus-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
              </div><!-- /end whyus-body -->
            </div>
            <div class="col-12 col-md-4">
              <!-- whyus-body -->
              <div class="whyus-body">
                <div class="whyus-img"></div>
                <h3 class="whyus-subtitle whyus-piggy">Nos clients ont economises plus de 45M $</h3>
                <p class="whyus-text">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
              </div><!-- /end whyus-body -->
            </div>
          </div>

          <div class="whyus-btn">
            <a href="/properties/search/list" class="btn-secondary" href="">Je veux acheter une maison</a>
          </div>
        </div>
      </section><!-- /end whyus -->


        <!-- Slider
      --------------------------------------------->
      <div class="slider">
        <div class="container">
            <h2 class="slider-title">Nos dernieres ventes</h2>
          <div id="carouselIndicators" class="carousel slide" data-ride="carousel-">
            <!-- The slideshow -->
            <div class="carousel-inner">
              
              <!-- Photo -->
              <div class="carousel-item active">
                <div class="carousel-img">
                  <img src="/img/prop1.jpg" alt="property1">
                  <div class="carousel-caption">
                    <span class="carousel-icon"></span>
                    <blockquote class="blockquote">
                      <p class="blockquote-text mb-0">Contrary to popular belief, Lorem Ipsum is not simply random text..</p>
                      <footer class="blockquote-footer"><cite title="Catherine Martin">Catherine Martin</cite></footer>
                    </blockquote>
                  </div>
                </div>
                <div class="carousel-desc">
                  <h4 class="carousel-title">420 west side</h4>
                  <p class="carousel-text">"Contrary to popular belief, Lorem Ipsum is not simply random text.."</p>
                </div>
              </div><!-- /end photo -->
              
              <!-- Photo -->
              <div class="carousel-item">
                <div class="carousel-img">
                  <img src="/img/prop2.jpg" alt="property2">
                  <div class="carousel-caption">
                    <span class="carousel-icon"></span>
                    <blockquote class="blockquote">
                      <p class="blockquote-text mb-0">Contrary to popular belief, Lorem Ipsum is not simply random text..</p>
                      <footer class="blockquote-footer"><cite title="Catherine Martin">Catherine Martin</cite></footer>
                    </blockquote>
                  </div>
                </div>
                <div class="carousel-desc">
                  <h4 class="carousel-title">420 west side</h4>
                  <p class="carousel-text">"Contrary to popular belief, Lorem Ipsum is not simply random text.."</p>
                </div>
              </div><!-- /end photo -->
              
              <!-- Photo -->
              <div class="carousel-item">
                <div class="carousel-img">
                  <img src="/img/prop1.jpg" alt="property3">
                  <div class="carousel-caption">
                    <span class="carousel-icon"></span>
                    <blockquote class="blockquote">
                        
                      <p class="blockquote-text mb-0">Contrary to popular belief, Lorem Ipsum is not simply random text..</p>
                      <footer class="blockquote-footer"><cite title="Catherine Martin">Catherine Martin</cite></footer>
                    </blockquote>
                  </div>
                </div>
                <div class="carousel-desc">
                  <h4 class="carousel-title">420 west side</h4>
                  <p class="carousel-text">"Contrary to popular belief, Lorem Ipsum is not simply random text.."</p>
                </div>
              </div><!-- /end photo -->

              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselIndicators" data-slide-to="1"></li>
                <li data-target="#carouselIndicators" data-slide-to="2"></li>
              </ul>
            </div>
          </div><!-- /end carousel -->
        </div>
      </div><!-- /end slider -->
    {% endblock %}