{% extends 'layouts/app.html' %}

    {% block main %}
        <!-- Search-list -->
        <div class="searchlist">
            <div class="container">
                <nav class="navbar-expand-lg">
                    <button class="search_collapse w-100" type="button" data-toggle="collapse" data-target="#collapsibleSearch">Filtrer</button>
                    <div class="collapse navbar-collapse" id="collapsibleSearch">

                        <form action="/properties/search/list" method="GET"> 
                            <div class="searchlist-body row">
                                <!-- City -->
                                <div class="searchlist-city col-12 col-lg-2">
                                    <div class="nav-item input-city">
                                        <input type="text" name="title" placeholder="Recherche par ville..."
                                          aria-label="Recherche par ville">
                                    </div>
                                </div>

                                <!-- Range -->
                                <div class="nav-item searchlist-range search-range- col-12 col-lg-3">
                                    <div id="nonlinear" class="noUi-target noUi-ltr noUi-horizontal noUi-txt-dir-ltr mb-2 search-price"></div>
                                    <div>
                                        <input type="hidden" name="min_price" id="lower-input" value="">
                                        <input type="hidden" name="max_price" id="upper-input" value="">
                                        <div class="nonlinear-values d-flex justify-content-between">
                                            <span class="example-val" id="lower-value">500.00$</span>
                                            <span class="example-val" id="upper-value">7000.00$</span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Type -->
                                <div class="nav-item searchlist-type col-12 col-lg-2">
                                    <div>
                                        <select class="custom-select" name="type" id="form-type">
                                            <option disabled selected>Types...</option>
                                            {% for type in types %}
                                                <option value="{{ type._id }}" {% if selectedType == type._id %} selected {% endif %}>{{ type.title }}</option>
                                            {% endfor %}
                                            <option value="">Sans type</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Chambers -->
                                <div class="nav-item searchlist-type col-12 col-lg-2">
                                    <div>
                                        <select id="select-chambers" name="bedroom">
                                            <option disabled selected>Chambres</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5+</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Bathrooms -->
                                <div class="nav-item searchlist-type col-12 col-lg-2">
                                    <div>
                                        <select id="select-bathrooms" name="bathroom">
                                            <option disabled selected>Salle de bain</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5+</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Button -->
                                <div class="nav-item searchlist-btn col-12 col-lg-1">
                                    <button class="btn-sm-secondary w-100" type="submit"></button>
                                </div>
                            </div><!-- /end body -->
                        </form>

                    </div>
                </nav>
            </div>
            <!-- /end searchlist -->
        </div>

        <!-- List card
        --------------------------------------------->
        <div class="list-properties">
        <div class="container-fluid">
            <div class="row">

            <div class="col-12 col-lg-7">
                
                <!-- List card -->
                <div class="list-card p-3">
                    {% include "parts/messages.html" %}

                    {% for field in properties %}
                        {% include "parts/card.html" %}
                    {% endfor %}
                
                </div><!-- /end list-card -->
                

                <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Precedent</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Suivant</a></li>
                </ul>
                </nav>
            </div>

            <div class="d-none d-lg-block col-lg-5">
                <div class="list-map">
                </div><!-- /end map -->
            </div>
            </div>
            
        </div>
        </div><!-- /end list -->
    {% endblock %}