{% extends 'layouts/app.html' %}

  {% block main %}
    <!-- Modal Login -->
    <div class="modal- fade-" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">

            <div class="modal-header-inner">
              <h2 class="auth-title" id="loginModalLabel">Connexion</h2>
              <p>Nouvel utilisateur ? <a href="/register">Creer un compte</a></p>
              {% include "parts/messages.html" %}
            </div>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form method="POST" id="formLogin">
            <div class="modal-body">
              <div class="form-group">
                <label for="form-user">Nom d'utilisateur</label>
                <input type="text" name="email" class="form-control" id="form-user" placeholder="Votre email">
              </div>
              <div class="form-group">
                <label for="form-password">Mot de passe</label>
                <input type="password" name="password" class="form-control" id="form-password" placeholder="Votre mot de passe">
              </div>
            </div>
            <div class="modal-footer flex-column">
              <button class="btn-primary w-100" type="submit" id="btnLogin">Se connecter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endblock %}
