{% extends 'layouts/app.html' %}

    {% block main %}
        {% include "parts/messages.html" %}
    
    <!-- detail -->
    <div class="detail">
        <div class="container">
        <!-- galery -->
        <div class="detail-galery">
          <div class="container">
            <div class="row no-gutters">
              <div class="col-12 col-md-8">
                <div class="detail-image">
                  <img src="/img/prop1.jpg" alt="property1">
                </div>
              </div>
              <div class="col-12 col-md-4 d-none d-md-block">
                <div class="detail-thumbnails">
                  <img src="/img/prop1-2.jpg" alt="property1">
                  <img src="/img/prop1-3.jpg" alt="property1">
                </div>
              </div>
            </div>
          </div>
        </div><!-- /end galery -->
  
  
        <div class="container-fluid">
          <div class="row no-gutters">
            <div class="col-12 col-md-8 order-2 order-md-1">
              <!-- info -->
              <div class="info">
                <div class="container">
                    <div class="info-title">
                        <h2>{{ property.title }}</h2>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-12 col-md-4">
                          <!-- info-body -->
                          <div class="info-body">
        
                            <h3 class="info-subtitle info-adress">Adresse</h3>
                            <p class="info-text">420 - 422 Av. Fothergill, Montreal (Lasalle), H2K 2W7</p>
                          </div><!-- /end info-body -->
                        </div>
                        <div class="col-12 col-md-4">
                          <!-- info-body -->
                          <div class="info-body">
        
                            <h3 class="info-subtitle info-type">Type</h3>
                            <p class="info-text">{{ property.type.title }}</p>
                          </div><!-- /end info-body -->
                        </div>
                        <div class="col-12 col-md-4">
                          <!-- info-body -->
                          <div class="info-body">
        
                            <h3 class="info-subtitle info-year">Construction</h3>
                            <p class="info-text">2006</p>
                          </div><!-- /end info-body -->
                        </div>
                      </div>
    
                    <div class="accordion" id="accordionExample">
                      <!-- spec -->
                      <div class="spec">
                        <div class="spec-subtitle">
                            <h3>
                              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Caracteristiques
                              </button>
                              </h3>
                        </div>
                       
                        <!-- row -->
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">  
                        <div class="row chamber no-gutters">                    
                            <div class="col-6">
                              <p class="spec-text">Chambres</p>
                            </div>
                            <div class="col-6">
                                <p class="spec-text">{{ property.bedroom }}</p>
                              </div>
                        </div><!-- /end row -->
                      
                        <!-- row -->
                      
                        <div class="row bathroom no-gutters">                    
                            <div class="col-6">
                              <p class="spec-text">Salles de bain</p>
                            </div>
                            <div class="col-6">
                                <p class="spec-text">{{ property.bathroom }}</p>
                              </div>
                        </div><!-- /end row -->
                      
                        <!-- row -->
                    
                        <div class="row squarefeet no-gutters">                    
                            <div class="col-6">
                              <p class="spec-text">Pieds carres</p>
                            </div>
                            <div class="col-6">
                                <p class="spec-text">3645</p>
                              </div>
                        </div><!-- /end row -->
                      </div>
                    </div><!-- /end spec -->
    
                    <!-- desc -->
                    <div class="desc">
                        <div class="desc-subtitle">
                            <h3>
                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Description
                              </button>
                            </h3>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                      </div><!-- /end desc -->
                  </div><!-- /end accordion -->
                </div><!-- /end container -->
              </div><!-- /end info -->
            </div>
            <div class="col-12 col-md-4 order-1 order-md-2">
              <!-- contact -->
              <div class="detail-contact">
                <div class="detail-sell">
                  <p>À vendre</p>
                  <h2>${{ property.price }}</h2>
                </div>
                <div class="detail-btn">
                  <a href="/properties/property/{{ property._id }}/interested" class="btn-primary w-100">Je suis interesse</a>
                  <!-- <a href="/properties/property/{{ property._id }}/interested" class="btn-primary w-100" data-toggle="collapse" data-target="#collapseMessage" aria-expanded="true" aria-controls="collapseMessage">Je suis interesse</a> -->
                </div>
              </div><!-- /end info -->
  
               <!-- customer -->
              <div class="customer">
  
                <!-- profile -->
                <div class="customer-profile">
                  <div class="row">
                    <div class="col-5">
                    <div class="customer-image">
                      <img src="/img/avatar-profile.jpg" alt="profile">
                    </div>
                    </div>
                    <div class="col-7">
                    <div class="customer-rating">
                      <div class="customer-name">{{ property.owner.firstName }}</div>
                      <div class="customer-stars">
                        <img src="/img/5star.png" alt="rating">
                      </div>
                    </div>
                    </div>
                  </div>
                </div><!-- /end profile -->
                <div id="collapseMessage" class="collapse" aria-labelledby="headingMessage">
                  <div class="customer-message">
                    <p>Laissez un message au proprietaire</p>
                    <div class="customer-send">
                      <textarea class="customer-textarea" rows="6" cols="50"></textarea>
                      <button class="customer-btn btn-secondary" type="submit">Envoyer</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /end customer -->
            </div>
          </div>
        </div>
        </div>
      </div><!-- /end detail -->
         
       <div class="detail-map d-none d-md-block">
         <div class="container">
           <h2 class="detail-map-title">Voir sur la carte</h2>
           <img src="/img/map_prop.png" alt="map">
         </div>
       </div>   
    {% endblock %}