{% extends 'layouts/app.html' %}

  {% block main %}
    <!-- Modal SignIn-->
    <div class="modal- fade-" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">

            <div class="modal-header-inner">
              <h2 class="insc-title" id="signInModalLabel">Inscription</h2>
              <p>Vous avez deja un compte?<a href="/login"> Se connecter</a></p>
            </div>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            {% include "parts/messages.html" %}
            
            <form method="POST" action="/register" id="formSignIn">
              <div class="form-group">
                <select class="custom-select" name="role">
                  <option disabled selected>Choisir le rôle...</option>
                  <option value="Customer" {% if role === 'Customer' %} selected {% endif %}>Customer</option>
                  <option value="Seller" {% if role === 'Seller' %} selected {% endif %}>Seller</option>
                </select>
              </div>
              <hr>
              <div class="form-group">
                <label for="form-user">Email</label>
                <input type="text" class="form-control" name="email" id="form-email" value="{{ email }}" placeholder="Votre email">
              </div>
              <div class="form-group">
                <label for="form-password">Mot de passe</label>
                <input type="password" class="form-control" name="password" id="form-password" placeholder="Votre mot de passe">
              </div>
              <div class="form-group">
                <label for="form-firstname">Prenom</label>
                <input type="text" class="form-control" name="firstName" id="form-firstname" value="{{ firstName }}" placeholder="Prenom">
              </div>
              <div class="form-group">
                <label for="form-lastname">Nom</label>
                <input type="text" class="form-control" name="lastName" id="form-lastname" value="{{ lastName }}" placeholder="Nom">
              </div>
              <div class="form-group">
                <label for="form-phone">Telephone</label>
                <input type="text" class="form-control" name="phone" id="form-phone" value="{{ phone }}" placeholder="Telephone">
                <button class="btn-primary w-100" type="submit">M'inscrire</button>
            </form>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  {% endblock %}