$theme-colors: (
        "primary":      $color-primary,
        "secondary":    $color-secondary,
        "success":      $color-success,
        "warning":      $color-warning,
        "danger":       $color-red,
        "gray":         $color-gray,
        "gray-light":   $color-gray-light,
        "gray-dark":    $color-gray-dark,
        "black":        $color-black,
        "white":        $color-white,
        "orange":       $color-orange,
        "yellow":       $color-yellow,
        "red":          $color-red,
        "blue":         $color-blue,
);

img {
        max-width: 100%;
}

.alert-dismissible {
        padding-right: 2.5rem !important;
}

$shadow: 0px 0 25px rgba($color-black, 0.13);

// Options
$enable-rounded:           false; // On ne veut pas nos coins arrondis

// Grid breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

$container-max-widths: (
        // sm: 540px,
        // md: 760px,
        // lg: 960px,
        xl: 1140px
);

// Components
$border-width:                1px;
$border-color:                $color-black;

$box-shadow-sm:                  0 0 1rem rgba($color-black, .1);

// Cars
// $card-spacer-x:                     1.25rem;
// $card-border-color:                 $color-black;

// Typography
$font-size-base: 16;
$font-family:               'Roboto', sans-serif;
$font-family-base:           $font-family;
$font-weight-bold:            700;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;


// Forms
$input-placeholder-color:               $color-black;
$input-border-color:                    $color-black;

$input-focus-color:                     $color-warning !important;

//Function
@function rem($target) {
        @return ($target / $font-size-base) * 1rem;
}