$color-primary:      #883BC8; 
$color-secondary:    #6B7886;
$color-success:      #00BA82;
$color-warning:      #F7CD44;
$color-danger:       $color-primary;

$color-white:      #FFFFFF;
$color-black:      #0D0D0D;
$color-gray-light: #F5F5F5;
$color-gray:       #D0D0D0;
$color-gray-dark:  #9C9C9C;
$color-gray-darkest:  #3B403E;
$color-orange:     #ED9638;
$color-yellow:     #F6EC44;
$color-red:        #EC4959;
$color-blue:       #0FC0F3;