.btn {
  border: none;
  outline: none;
}

%btn-style {
  font-weight: 500;
  color: $color-black;
  display: inline-block;

  text-align: center;
  text-transform: uppercase;
  background-color: $color-primary;
  border: 2px solid $color-primary;
  transition: background .1s ease-in-out,
              box-shadow .2s ease-in-out;

  &:active {
    background-color: transparent;
  }
}

.btn-secondary {
padding: rem(13) rem(30);
background-color: transparent;
color: $color-primary;
@extend %btn-style;

&:hover {
    text-decoration: none;
    color: $color-white ;
    background-color: $color-primary;
  }
}

.btn-sm-secondary {
  padding: rem(10) rem(15);
  color: $color-primary;
  @extend %btn-style;

  background-color: $color-white;

  &:hover {
      text-decoration: none;
      color: $color-white;
      background-color: $color-primary;
  }
}

.btn-primary {
  padding: rem(13) rem(30) ;
  color: $color-white;
  background-color: $color-primary;
  @extend %btn-style;

  &:hover {
      text-decoration: none;
      color: $color-black;
      background-color: transparent;
  }
}
