input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
input[type="password"],
textarea {
    width: 100%;
    padding: rem(12);

    font-size: rem(16);
    border: 1px solid $color-gray;
    outline: none;
}

select {
    width: 100%;
    padding: rem(12);
    font-size: rem(18) !important;
    border: 1px solid $color-gray;
}
input[type="range"] {
    width: 100%;
}

.form-group label {
    margin-bottom: rem(5);
    font-size: rem(14);
    color: $color-gray;
}

.form-group input {
    margin-bottom: rem(25);
}