{% extends 'layouts/dashboard-app.html' %}

    {% block main %}
        {% include "parts/messages.html" %}

        <div class="row no-gutters">
            <div class="col-12 col-md-2">
                <div class="dashboard-manage">
                    <p>Proprietes</p>
                </div>
            </div>
            <div class="col-12 col-md-10 right">
                <div class="dashboard-tab">
                    <div class="dashboard-area">
                        <h3>Details proprietes</h3>
                        <table class="table">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Proprietes</th>
                                <th scope="col">Chambres</th>
                                <th scope="col">Propriétaire</th>
                                <th scope="col">Prix</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for item in properties %}
                                    <tr>
                                        <th>{{ item.title }}</th>
                                        <td>{{ item.bedroom }}</td>
                                        <td>{{ item.owner.firstName }}</td>
                                        <td>{{ item.price }}$</td>
                                        <td class="icon">
                                            <form action="/dashboard-customer/delete/{{ item._id }}" method="POST">
                                                <button type="submit" class="icon-delete">
                                                    <img src="/img/sprites_material/delete.png" alt="delete">
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="dashboard-profile">
                        <h3>Profile</h3>
                        <form>
                            <label for="phone">Telephone:</label><br>
                            <input type="text" id="phone" name="phone" placeholder="514-123-4567">
                        </form>
                        <button class="dashboard-profile-btn btn-primary" type="submit">Enregistrer</button>
                    </div>
                </div>
                
            </div>
        </div>        
    {% endblock %}