.cont-card {
    height: auto;
    background-color: $color-gray-light;
}


@media only screen and (max-width: 767px) {
    .card-list-item {
        min-height: 730px;
        background-color: $color-white;
        margin: rem(30);
    
        img {
            height: auto;
            width: 100%;
            object-fit: cover;
            margin-bottom: 20px;
        }
    
        &-type {
            color: $color-gray-dark;
            padding-left: 14px;
        }
    
        &-title {
            color: $color-primary;
            font-size: 1.5em;
            padding-left: 14px;
        }
    
        &-city {
            padding-left: 14px;
        }
    
        &-chambers {
            padding-left: 14px;
            padding-top: rem(20);
            border-bottom: 1px solid $color-black;
        }
    
        &-bathrooms {
            padding-left: 14px;
            padding-top: rem(20);
            border-bottom: 1px solid $color-black;
        }
    
        &-squarefeet {
            padding-left: 14px;
            padding-top: rem(20);
        }
    
        &-sell {
            padding-left: 14px;
            padding-top: rem(20);
            color: $color-gray-dark;
            border-bottom: 1px solid $color-gray-dark;
            margin-bottom: rem(20);
        }
    
        &-price {
            color: $color-red;
            padding-left: 14px;
            font-size: 2.8em;
            padding-bottom: rem(30);
        }
    
        &-btn {
            text-align: center;
        }
    }
    
    .card-map {
        display: none;
    }
    
}

@media screen and (min-width: 768px) {

    .cont-card {
        height: 1000px;
        margin-right:0;
        margin-left:0;
    }

    .card-list {
        height: 900px;
        overflow-y: scroll;
    }

    .card-list-item {
        position: relative;
        height: 300px;
        background-color: $color-white;
        margin: rem(30);
        margin-right:0;
        margin-left:0;

        img {
            width: 33%;
            height: 100%;
            object-fit: cover;
            margin-bottom: 20px;
            float: left;
        }

        &-type {
            color: $color-gray;
            padding-left: 50px;
            font-size: small;
        }

        &-title {
            color: $color-primary;
            padding-left: 14px;
        }

        &-city {
            padding-left: 14px;
            font-size: small;
        }
    
        &-chambers {
            padding-left: 14px;
            font-size: small;
            border-right: 1px solid $color-black;
        }
    
        &-bathrooms {
            padding-left: 14px;
            font-size: small;
            border-right: 1px solid $color-black;
        }
    
        &-squarefeet {
            padding-left: 14px;
            font-size: small;
        }

        &-sell {
            padding-left: 14px;
            padding-top: rem(20);
            color: $color-gray-dark;
            border-bottom: 1px solid $color-gray-dark;
            margin-bottom: rem(20);
            font-size: small;
        }

        &-price {
            color: $color-red;
            padding-left: 14px;
            font-size: 2em;
            padding-bottom: rem(30);
        }
    
        &-btn {
            bottom: 0px;
            right: 0;
            position: absolute;
            padding-right: 10px;
            padding-bottom: 10px;
        }
    }

    .card-map {
        height: 1000px;
        background: $color-gray url('resources/../../img/map_list.png') no-repeat top center;
        background-size: cover;
        
    }

    .center {
        text-align: center;
        height: 30px;
      }
      
      .pagination {
        display: inline-block;
      }
      
      .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        //margin: 0 4px;
      }
      
      .pagination a.active {
        background-color: #4CAF50;
        color: white;
        border: 1px solid #4CAF50;
      }
      
      .pagination a:hover:not(.active) {background-color: #ddd;

}

}