.list-properties {

    .card {
        max-width: rem(450);
        margin: 0 auto;
        margin-bottom: rem(20);

        background-color: $color-white;
        border: none;
        box-shadow: 0px 0 25px rgba($color-black, .13);

        // Header
        &-header {
            padding: 0;
            margin: 0;
            background-color: transparent;
            border: none;
        }

        &-img {
            img {
                width: rem(450);
                object-fit: cover;
            }
        }

        // Body
        &-body {
            padding: rem(20);
        }

        &-name {
            flex: 1 1 70%;
        }
        
        &-number {
            flex: 1 1 30%;
        }

        &-spec {
            flex-direction: column;
        }

        .btn-sm-secondary {
            display: block;
        }

        &-category {
            color: $color-gray-dark;
        }

        &-title {
            color: $color-primary;
            font-size: 1.6em;
        }

        &-subtitle {
            padding-bottom: rem(20);
        }

        &-sell {
            color: $color-gray-dark;
            border-bottom: 1px solid $color-gray-dark;
        }

        &-price {
            color: $color-red;
            font-size: 2em;
            margin-bottom: rem(20);
        }
    }

    .pagination {
        margin-left: 30%;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 900px) {
    .list-properties {
        
        .list-card {
            overflow-y: scroll;
            height: 100vh;
        }

        .card {
            max-width: rem(1010);
            height: rem(300);
            flex-direction: row;

            &-header {
                width: 35%;
            }
            
            &-body {
                width: 65%;
            }

            &-img {
                img {
                    height: rem(300);
                    // width: rem(450);
                }
            }

            &-spec {
                flex-direction: row;
            }

            &-item {
                flex: 1 1 auto;
            }

            &-name {
                order: 2;
                flex: 1 1 auto;
                color: $color-gray-dark;
                padding-top: 12px;
            } 

            &-number {
                flex: 0 1 auto;
                font-size: 2em;
                margin-right: 5px;
            }

            &-details {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            &-price {
                margin-bottom: 0;
            }

            &-chamber {
                border-right: 1px solid $color-gray-dark;
                margin-right: 5px;
            }


            &-bathrooms {
                border-right: 1px solid $color-gray-dark;
                margin-right: 5px;
                padding-left: 10px;
            }

            &-squarefeet {
                padding-left: 10px;
            }
        }
    }
}
