.dashboard {
    &-header {
        position: relative;
        height: 70px;
        background-color: $color-gray-darkest;

        .navbar {
            height: 70px;
        }
    }

    .icon {
        display: flex;
        justify-content: center;
    }

    .icon-delete {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .dropdown-btn {
        background-color: inherit;
        color: $color-white;
    }

    &-manage {
        height: 700px;
        background-color: $color-white;
        text-align: center;
        padding: rem(30);
    }


    &-tab {
        height: auto;
    }

    &-area {
        height: auto;
        margin: rem(40);
        padding: rem(20);
        background-color: $color-white;
        text-align: center;

        h3 {
            text-align: left;
            padding-bottom: rem(10);
        }
    }

    &-user {
        height: auto;
        margin: rem(40);
        padding: rem(20);
        background-color: $color-white;
        text-align: center;

        h3 {
            text-align: left;
            padding-bottom: rem(10);
        }
    }

    .icon {

        &-delete {
            height: 80%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &-profile {
        position: relative;
        height: 260px;
        margin: rem(40);
        padding: rem(20);
        background-color: $color-white;

        label {
            color: $color-gray;
            padding-top: rem(10); 
        }

        &-btn {
            position: absolute;
            right: rem(20);
            bottom: rem(30);
        }
    }
}

@media only screen and (max-width: 768px) {
    .dashboard-manage {
        height: 200px;
    }
}


  
  .dropdown {
    position: absolute;
    right: 10px;

        &-btn {
            color: $color-black;
            background-color: $color-gray;
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        &-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;

            a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
              }

            a:hover {
                background-color: $color-gray-light;
            }
          }
  }
  
    .dropdown:hover .dropdown-content {display: block;}
  
    .right {
        background-color: $color-gray-light;
    }