.detail {
    &-image {
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &-galery {
        max-height: auto;
        .row {
        border-bottom: 10px solid $color-yellow;

        }
    }

    &-sell {
        height: 200px;
        background-color: $color-yellow;
        h2 {
            font-size: 3em;
            margin-top: rem(26);
            text-align: center;
        }
        p {
            font-size: 2em;
            padding-top: rem(60);
            margin-left: rem(20);
        }
    }

    &-map {
        padding-top: rem(40);
        h2 {
            color: $color-primary;
        }
    }
}

.customer {
    &-profile {
        padding-top: rem(20);
        padding-bottom: rem(20);
    }

    &-image img{
        border-radius: 50%;
        margin-left: rem(20);
    }

    &-message {
        height: 350px;
        background-color: $color-gray;
        p {
            margin-left: 10%;
            padding-top: rem(30);
        }
    }

    &-send {
        position: relative;
        height: 100%;
        width: 80%;
        margin-left: 10%;
    }


    &-btn {
        position: absolute;
        bottom: rem(80);
        right: 0;
    }

    &-name {
        font-size: 2em;
        padding-bottom: rem(30);
    }
}

@media only screen and (max-width: 768px) {
    .info {
        &-body {
            padding-top: rem(10);
            padding-bottom: 0px;
        }
    }
}

.info {

    &-title {
        padding: rem(20);
        padding-bottom: rem(10);
        color: $color-primary;
        font-size: 1.6em;
        border-bottom: 1px solid $color-gray-dark;
    }

    &-body {
        padding-top: rem(40);
        padding-bottom: rem(20);
    }

    &-subtitle {
        font-size: 1.4em;
        font-weight: bold;
    }

    
    .row {
        justify-content: space-around;
    }

    .spec {
        &-subtitle {
            background-color: $color-gray;
            padding: rem(8);
        }
    }

    .desc {
        //padding-top: rem(20);
        &-subtitle {
            background-color: $color-gray;
            padding: rem(8);
        }
    
        p {
            border-top: 1px solid $color-gray-dark;
            padding: rem(10);
        }
    }

}

.accordion .btn {
    background-color: $color-gray;
}


.chamber {
    justify-content:center;
    border-top: 1px solid $color-gray-dark;
    border-bottom: 1px solid $color-gray-dark;
    padding: rem(5);
    width: 100%;
}

.bathroom {
    border-bottom: 1px solid $color-gray-dark;
    padding: rem(5);
    width: 100%;
}

.squarefeet {
    border-bottom: 1px solid $color-gray-dark;
    padding: rem(5);
    width: 100%;
}

