.page-footer {
    background-color: $color-black;
    padding-top: rem(100);

    &-title {
        color: $color-yellow;
        padding-bottom: 16px;
    }

    li {
        padding-top: 10px;
    }

    span {
        color: $color-gray;
    }

    a {
        color: $color-gray;
    }
}

.footer-info {
    margin-bottom: rem(50);
}

.footer-copyright {
    border-top: 1px solid $color-gray;
    padding-top: rem(40);
    padding-bottom: rem(40);
    color: $color-gray;
}