.hero {
    position: relative;
    margin-bottom: rem(400);

    &-img {
        height: calc(100vh - 90px - 45px);

        background: $color-primary url('resources/../../img/hero.jpeg') no-repeat top center;
        background-size: cover;
    }
}

@media only screen and (min-width: 767px) {
    .hero {
        margin-bottom: rem(100);
    }
}