.modal-dialog {
    max-width: 435px;
    margin: 1.75rem auto;
    box-shadow: $shadow;
}

.modal-content {
    position: relative;
    border: none;
    padding: rem(50);
}

.modal-header {
    justify-content: center;
    padding: 0;
    padding-bottom: rem(20);

    text-align: center;
    border-bottom: none;

    .close {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
}

.modal-body {
    padding: 0;
}

.modal-footer {
    padding: 0;
    border-top: none;
}

.form-group {
    width: 100%;
}



