.navbar {
    padding: .5rem 0;

    &-brand {
        width: 100%;
    }

    &-toggler {
        position: absolute;
        overflow: hidden;
        top: 12px;
        right: 20px;
        width: 50px;
        height: 50px;

        border: none;
        
        span:active,
        &::before:active,
        &::after:active {
            opacity: .3;
        }
    
        span,
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 14px;
            left: 0;
            right: 0;

            width: 26px;
            height: 2px;
            margin: auto;
    
            background-color: $color-black;
        }
    
        span {
            top: 23px;
        }
    
        &::after {
            top: 32px;
        }
    }

    // List menu
    .navbar-nav {
        padding: 0 rem(20);
        background-color: $color-primary;

        .nav-item a {
            display: block;
            padding: rem(20) 0;
            
            font-weight: 500;
            text-transform: uppercase;
            color: $color-white;
        }

        .nav-item a:hover {
            text-decoration: none;
            color: $color-black;
        }
        
        .nav-item:not(:last-child) a {
            border-bottom: 1px solid $color-white;
        }

        .dashboard .dropdown-menu {
            padding: 0;
            background-color: $color-primary;
            border: none;
        }

        .dashboard .dropdown-item {
            color: $color-white;
            padding: rem(20);
        }

        .dashboard .dropdown-item:hover {
            color: $color-primary;
            background-color: $color-white;
        }

        .account a,
        .add-property a,
        .dashboard button,
        .dashboard a {
            width: 100%;
            padding: rem(20) 0;
            color: $color-white;

            text-transform: uppercase;
            text-align: left;
            outline: none;
        }
    }   
}

@media only screen and (min-width: 767px) {
    .navbar {
        height: 90px;
        padding: 0;

        &-brand {
            width: auto;
        }

        .dropdown {
            position: relative;
            right: 0;
        }

        .navbar-nav {
            padding: 0; 
            background-color: transparent;

            .nav-item a {
                padding: rem(14) rem(15);
            }

            .nav-item a:hover {
                font-weight: 500;
            }

            .nav-item:not(:last-child) a {
                border-bottom: 2px solid $color-primary;
            }

            .dashboard {
                margin-left: rem(5);
            }

            .dashboard a {
                color: $color-primary;
            }

            .dashboard button,
            .dashboard a {
                padding: rem(14) rem(15);
                color: $color-primary;
            }

            .dashboard button:hover {
                color: $color-black;
            }
        }
    }
}