.search {
    position: absolute;
    bottom: calc(-455px + 54px);
    left: 50%;
    transform: translateX(-50%);
    
    &-inner {
        min-width: 300px;
        height: 455px;
        background-color: $color-white;
        box-shadow: 0px 0 25px rgba($color-black, .13);
    }

    // Header
    &-header {
        height: 55px;
        padding: rem(14) 0;
        background-color: $color-yellow;
        text-align: center;

        h4 {
            margin-bottom: 0;
            font-size: rem(24);
        }
    }

    // Body
    &-body {
        display: flex;
        padding: rem(45) rem(20);
    }

    &-city div,
    &-type div {
        margin-bottom: rem(30);
    }

    &-city {
        .input-city {
            position: relative;
            width: 100%;
            background-color: transparent;
            border: none; 
        }

        .input-city input {
            padding-right: 50px;
            padding-left: 50px;
        }

        .input-city::after,
        .input-city::before {
            position: absolute;
            top: 0;
            width: 50px;
            height: 50px;
        }

        .input-city::after {
            content: '';
            left: 0;

            background: url('resources/../../img/sprites_material/search.svg') no-repeat center;
            background-size: 40%;
        }

        .input-city::before {
            content: '';
            right: 0;

            background: url('resources/../../img/sprites_material/my_location.svg') no-repeat center;
            background-size: 40%;
        }
    }

    &-type {
        //background-color: #fff;
        padding-left: 20px;
    }

    &-range {
        padding: rem(20) 0;
    }
}

#nonlinear {
    .noUi-connect {
        background-color: $color-primary; 
    }
    
    .nonlinear-values span {
        color: $color-gray-dark;
    }
}

@media only screen and (max-width: 767px) {
    .search-btn {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 30px;

        div {
            padding: 0 rem(20);
        }
    }
}

@media screen and (min-width: 768px) {
    .search {
        // position: absolute;
        bottom: -45px;
        width: 100%;
        max-width: 1020px;
       
    
        &-city div,
        &-type div {
            margin-bottom: 0;
        }
    
        &-city,
        &-type {
            padding-right: rem(20) !important;
        }
    
        &-inner {
            display: flex;
            // align-items: flex-start;
            height: 100px;
            width: 100%; 
        }

        &-header {
            height: auto;
            padding: rem(36) 0;
        }

        &-body {
            position: relative;
            display: flex;
            width: 100%;
            padding: 0 rem(20);
        }

        &-city {
            border-right: 2px solid $color-gray;
        }

        &-range {
            position: absolute;
            bottom: -120px;
            right: 0;
        }
    }
}