.searchlist {
    //height: 55px;
    margin-top: 20px;

    &-body {
        padding: rem(45) rem(20);
    }

    &-city {
        .input-city {
            position: relative;
            padding-top: rem(10);
            width: 100%;
            background-color: transparent;
            border: none; 
            margin-bottom: 50px;
        }

        .input-city input {
            padding-right: 50px;
            padding-left: 50px;
        }

        .input-city::after,
        .input-city::before {
            position: absolute;
            top: rem(10);
            width: 50px;
            height: 50px;
        }

        .input-city::after {
            content: '';
            left: 0;

            background: url('resources/../../img/sprites_material/search.svg') no-repeat center;
            background-size: 40%;
        }

        .input-city::before {
            content: '';
            right: 0;

            background: url('resources/../../img/sprites_material/my_location.svg') no-repeat center;
            background-size: 40%;
        }
    }

    &-type {
        padding-top: rem(10);
        padding-bottom: rem(30);
    }

    &-btn button::before {
        content: 'Rechercher';
    }

}

.search_collapse {
    margin: auto;
    height: 60px;
    width: 335px;
    color: $color-gray-dark;
    background-color: $color-white;
    border: none;

    margin-top: rem(10);
    font-size: 1.6em;
}


@media screen and (min-width: 990px) {
    .search_collapse {
        display: none;
    }

    .searchlist {
        &-body {
            padding: 0;
        }

        &-btn {
            padding-top: rem(10);
        }

        &-btn button::before { 
            content: '\002315';
            font-size: rem(34);
            line-height: .4;
        }

        &-range {
            padding-top: rem(24);
        }
    }
}
