.slider {
    padding-top: rem(100);
    padding-bottom: rem(80);
    background-color: $color-gray-light;

    &-title {
        margin-bottom: rem(70);
        text-align: center;
        color: $color-primary;
        font-size: 2em;
    }
}

.carousel {
    position: relative;

    &-img {
        position: relative;
        margin-bottom: rem(220);
        background-color: gray;
    }

    &-inner img {
        max-width: 100%;
        min-width: 100%;
        height: 300px;
        object-fit: cover;
    }

    &-caption {
        position: absolute;
        bottom: -200px;
        right: 0px;
        left: 0px;
        height: 200px;
        z-index: 10;
        padding: rem(40);
        //padding-left: rem(90);

        text-align: left !important;
        background-color: $color-white;
        color: $color-black;
    }

    .blockquote {
        margin-bottom: 0;

        &-footer {
            padding-left: rem(50);
        }
    }

    &-caption p {
        color: $color-gray-dark;
        font-size: rem(18);
        font-weight: 300;
        padding-left: rem(50);
    }

    &-desc {
        margin-bottom: rem(100);
    }

    &-desc h4 {
        color: $color-primary;
        padding-left: 25px;
        padding-top: 10px;
    }

    &-desc p{
        color: $color-gray-dark;
        padding-left: 25px;
    }

    &-indicators .active {
        background-color: $color-black;
    }

    &-indicators li {
        background-color: $color-gray-dark;
        width: 50px;
    }

    &-icon {
        width: 30px;
        height: 30px;
        background: url('resources/../../img/sprites_material/quote.svg') no-repeat;
        background-size: 100%;
        color: $color-gray-dark;
        margin-top: 15px;
        float: left;
        
    }

}

@media only screen and (min-width: 767px) {
    .carousel {
        &-img {
            margin-bottom: rem(30);
        }

        &-inner img {
            height: 600px;
        }
    
        &-caption {
            bottom: 40px;
            right: 30px;
            left: 30%;
            height: auto;
        }
    }
}