.whyus {
    padding-top: rem(100);
    padding-bottom: rem(180);

    &-body {
        text-align: center;
    }

    &-title {
        margin-bottom: rem(85);
        text-align: center;
        color: $color-primary;
    }

    &-subtitle {
        position: relative;
        margin-top: rem(120);
        margin-bottom: rem(35);
        font-size: rem(24);
    }

    &-subtitle::after {
        content: '';
        position: absolute;
        top: -120px;
        left: 50%;

        width: 115px;
        height: 105px;
        
        background-color: gray;
        transform: translateX(-50%);
    }

    &-first::after {
        background: url('resources/../../img/sprites_features/first.svg');
        background-size: 100%;
    }

    &-agreement::after {
        background: url('resources/../../img/sprites_features/agreement.svg');
        background-size: 100%;
    }

    &-piggy::after {
        background: url('resources/../../img/sprites_features/piggy-bank.svg');
        background-size: 100%;
    }

    &-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: rem(70);

    }
}

